<div class="container">
  <div class="main">
    <div class="main__data">Пятница, 22 Март</div>
    <div class="main__hello">Good evening, User</div>
    <div class="main__tasks">
      <div class="wrapper">
        <mat-icon class="main__tasks__icon">person icon</mat-icon>
        <a [routerLink]="['/tasks']" class="main__tasks__title">My tasks</a>
        <mat-icon class="main__tasks__lock">lock</mat-icon>
      </div>
      <nav
        mat-tab-nav-bar
        class="main__tasks__filters"
        [tabPanel]="tabPanel"
      >
        <a mat-tab-link *ngFor="let link of links"
        (click)="changeFilter(link)"
        [active]="activeLink === link"> {{link}} </a>
      </nav>
      <mat-divider></mat-divider>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

      <button class="main__tasks__button">
        <span>+</span>
        <span>Create task</span>
      </button>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
