<div class="container">
  <mat-card *ngIf="task$ | async" class="task">
    <div class="wrapper done">
      <button
        [ngClass]="{isDone: task.status}"
        class="task__button"
        (click)="updateTaskStatus()"
      >✓ Done</button>
      <div class="task__back" (click)="back()">back</div>
    </div>
    <input
      class="task__title"
      type="text"
      [(ngModel)]="titleValue"
      (keypress)="updateTaskPress($event)"
      (blur)="updateTask()"
    >
    <div class="wrapper">
      <span class="task__field">Performer</span>
      <div class="task__performers" >
        <div *ngFor="let item of task.performers; index as i" class="task__performer">
          <div class="task__performer__icon">
            {{item.firstName[0] + item.secondName[0]}}
          </div>
          <div class="task__performer__person">{{item.firstName + ' ' + item.secondName}}</div>
          <div class="task__performer__close" (click)="deletePerformer(i)">+</div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <span class="task__field">Deadline</span>
      <div class="task__deadline">
        <div class="task__deadline__toggle"  (click)="isVisible=!isVisible">
          <mat-datepicker-toggle></mat-datepicker-toggle>
        </div>
        {{deadline ? (deadline | date: 'dd MMM') : 'There is no deadline' }}
      </div>
    </div>

    <div class="wrapper">
      <span class="task__field">Priority</span>
      <mat-button-toggle-group
        class="task__priority"
        [(ngModel)]="taskPriority"
        (click)="updatePriority()">
        <mat-button-toggle value="low">Low</mat-button-toggle>
        <mat-button-toggle value="medium">Medium</mat-button-toggle>
        <mat-button-toggle value="high">High</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-card *ngIf="isVisible" class="demo-inline-calendar-card">
      <mat-calendar
        (selectedChange)="select($event)"
        [(selected)]="deadline"
      ></mat-calendar>
    </mat-card>

    <div class="wrapper">
      <span class="task__field">Name</span>
      <mat-form-field class="task__name" appearance="fill">
        <mat-label>Change name</mat-label>
        <input [(ngModel)]="name" (change)="changeName(name)" matInput>
      </mat-form-field>
    </div>
    <button class="task__remove" mat-fab color="primary">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card>
</div>
